
<div class="jumbotron center">
<h2>Welcome to Political_Receipts App!</h2>

<h2>About Me</h2>

 <p>Hi! I'm Glynis Monroe & I've created a political app/website with several goals in mind; to inform & challenge everything! #ComeAtMe</p>