<div class="panel panel-default">
        <div class="panel-heading"><h1>Editing Receipt</h1></div>
        <div class="panel-body"> 
    
    <!--<h1>Editing Receipt</h1>-->
    
    <%= render 'form' %>
    </div>
    
    <div class="panel-footer"><%= link_to 'Show', @receipt %> |
    <%= link_to 'Back', receipts_path %>
    </div>
</div> 