<div class="panel panel-default">
    <div class="panel-heading">New Receipt</div>
    <div class="panel-body">    

<%= render 'form' %>
</div> 


<div class="panel-footer"><%= link_to 'Back', receipts_path %></div>

</div>